@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-style: normal;
}

@media only screen and (min-width: 390px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  };
  
  body {
    font-family: Lato;
    font-style: normal;
  };

  img {
    position: absolute;
    width: 18px;
    height: 38px;
    left: 30px;
    top: 75px;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
  };
}

@media only screen and (min-height: 844px) {
  
}