@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
}

/* for the grid */
.blue-container {
  width: 390px;
  margin: 0 auto;
  background: #4059AD;
}


/* for the symble logo */
.symbleLogo{
  position: absolute;
  width: 18px;
  height: 38px;
  left: 30px;
  top: 75px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.symble-lable {
  /* width: 226px;
  height: 97px;
  left: 140px;
  top: 357px; */

  font-weight: 700;
  font-size: 40px;
  /* line-height: 48px; */
  /* display: flex; */
  /* margin: 50% auto; */

  padding-top: 65%;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  color: #EFF2F1;
}

/* the login and signin headers */
.title {
  position: absolute;
  width: 144px;
  height: 43px;
  left: 30px;
  top: 121px;
  font-weight: bolder;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #323232;
}


/* the login and signin anochor tags */
.red-text {
  position: absolute;
  width: 224px;
  height: 30px;
  left: 30px;
  top: 166px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #999999
}

/* for the the pin titles */
.blue-text {
  position: absolute;
  width: 286px;
  height: 47px;
  left: 30px;
  top: 172px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6B9AC4;
}

/* for the the pin titles */
.light-text {
  position: absolute;
  width: 315px;
  height: 30px;
  left: 30px;
  top: 235px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #999999;
}

/* the text in the anchor tag in login and signup */
.a-text {
  padding-left: 5px;
  color: #6B9ACA;
  text-decoration: none;
}

/* for the forgot password anchor tag */
.rev-title {
  position: absolute;
  width: 181px;
  height: 43px;
  left: 30px;
  top: 121px;
  font-weight: bolder;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #323232;
}

.rev-red-text {
  position: absolute;
  width: 315px;
  height: 30px;
  left: 30px;
  top: 172px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #999999;
}

/* for the forms across all pages */
.user-label {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 217px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.user-input {
  box-sizing: border-box;
  position: absolute;
  padding-left: 5px;
  width: 315px;
  height: 40px;
  font-size: 12px;
  font-weight: lighter;
  left: 30px;
  top: 236px;
  border: 1px solid #CCCCCC;
  border-radius: 5px
}

.sig-user-label {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 302px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.sig-user-input {
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  height: 40px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: lighter;
  left: 30px;
  top: 321px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.sig-password-label-1{
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 387px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.sig-password-input-1 {
  padding-left: 5px;
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  font-size: 12px;
  font-weight: lighter;
  height: 40px;
  left: 30px;
  top: 406px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.sig-password-label-2 {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 472px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.sig-password-input-2 {
  padding-left: 5px;
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  height: 40px;
  font-size: 12px;
  font-weight: lighter;
  left: 30px;
  top: 491px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.reset-password-label-1{
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 192px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.reset-password-input-1 {
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  height: 40px;
  font-size: 12px;
  padding-left: 5px;
  left: 30px;
  top: 211px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.reset-password-label-2 {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 286px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.reset-password-input-2 {
  padding-left: 5px;
  font-size: 12px;
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  height: 40px;
  left: 30px;
  top: 305px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.pin-input-1 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 57px;
  top: 303px;
  border: 1px solid #999999;
}

.pin-input-2 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 125px;
  top: 303px;
  border: 1px solid #999999;
}

.pin-input-3 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 193px;
  top: 303px;
  border: 1px solid #999999;
}

.pin-input-4 {
  box-sizing: border-box;
  position: absolute;
  width: 54px;
  height: 54px;
  left: 265px;
  top: 303px;
  border: 1px solid #999999;
}

.password-label {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 306px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.password-input {
  box-sizing: border-box;
  position: absolute;
  width: 315px;
  height: 40px;
  left: 30px;
  top: 325px;
  padding-left: 5px;
  font-weight: lighter;
  font-size: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.rev-user-label {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 30px;
  top: 233px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #323232;
}

.rev-user-input {
  box-sizing: border-box;
  position: absolute;
  padding-left: 5px;
  width: 315px;
  height: 40px;
  left: 30px;
  top: 252px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

.rev-text {
  position: absolute;
  width: 149px;
  height: 12px;
  left: 194px;
  top: 370px;
  font-weight: lighter;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  padding: 10px;
  margin-left: 53px;
  align-items: center;
  text-align: end;
  color: #4059AD;
  text-decoration: none;
}

/* for the buttons on all pages */
.btn-signin {
  position: absolute;
  width: 315px;
  height: 45px;
  left: 30px;
  top: 423px;
  background: #4059AD;
  border: none;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #EFF2F1;
}

.sig-btn-signin {
  position: absolute;
  width: 315px;
  height: 45px;
  left: 29px;
  top: 578px;
  background: #4059AD;
  border-radius: 25px;
  border: none;
  outline: none;
  overflow: hidden;
  font-weight: bolder;
  color: #EFF2F1;
}

.reset-btn-signin {
  border: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  width: 315px;
  height: 45px;
  left: 30px;
  top: 406px;
  background: #4059AD;
  border-radius: 25px;
  font-weight: bolder;
  color: #EFF2F1;
}

.rev-btn-signin {
  position: absolute;
  width: 315px;
  height: 45px;
  left: 30px;
  top: 342px;
  border: none;
  outline: none;
  overflow: hidden;
  background: #4059AD;
  border-radius: 25px;

  font-weight: 700;
  font-size: 16px;
  color: #EFF2F1;;
}

.pin-btn-signin {
  border: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  width: 315px;
  height: 45px;
  left: 30px;
  top: 421px;
  background: #4059AD;
  border-radius: 25px;

  font-weight: 700;
  font-size: 16px;
  color: #EFF2F1;;
}


/* the lines in the login ang sign in page */
.log-line-left {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 30px;
  top: 500px;
  border: 1px solid #CCCCCC;
}

.sig-line-left {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 29px;
  top: 655px;
  border: 1px solid #CCCCCC;
}

.log-line-right {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 256px;
  top: 500px;
  border: 1px solid #CCCCCC;
}

.sig-line-right {
  position: absolute;
  width: 90px;
  height: 0px;
  left: 255px;
  top: 655px;
  border: 1px solid #CCCCCC;
}

.log-line-text {
  position: absolute;
  width: 87px;
  height: 31px;
  left: 144px;
  top: 484px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #999999;
}

.sig-line-text {
  position: absolute;
  width: 87px;
  height: 31px;
  left: 143px;
  top: 639px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  text-align: center;
  color: #999999;
}

/* for the auth buttons */
.log-google {
  border-radius: 50px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 76px;
  top: 530px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

.sig-google {
  border-radius: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
  left: 77px;
  top: 687px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

.log-facebook {
  border-radius: 50px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 167px;
  top: 531px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

.sig-facebook {
  border-radius: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
  left: 166px;
  top: 686px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

.log-twitter {
  border-radius: 50px;
  border-radius: 50;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 256px;
  top: 532px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

.sig-twitter {
  border-radius: 50px;
  position: absolute;
  width: 42px;
  height: 42px;
  left: 255px;
  top: 687px;
  background: #FFFFFF;
  border: 1px solid #EFF2F1;
}

@media only screen, (min-width: 390px) and (min-height: 844px) {
  .symble-lable {
    margin: 25% 100px;
  }
}

@media only screen, (mid-width: 375px) and (min-height: 667px){
  .symble-lable {
    margin: 25% 100px;
  }
}

@media only screen, (mid-width: 412px) and (min-height: 914px){
  .symble-lable {
    margin: 25% 100px;
  }
}